@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed";
}
body{
    background-color: hsl(210, 46%, 95%);
    font-size: 13px;
}
main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    flex-direction:column;
}
.container{
    width: 72%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
}
.container .item{
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 10px 20px 30px hsl(0, 0%, 81%);
}

.container .item div,
.container .item p,
.container .item h1{
    margin-bottom: 8px;
}
.container .item h1{
    color:hsl(0,0%,100%);
    line-height: 24px;
}
.container .item p{
    line-height: 18px;
    color:hsl(0, 0%, 81%);
}
.container .item1{
    grid-column: span 2;
    background-image: url("images/bg-pattern-quotation.svg");
    /* background-color: rgb(130, 71, 189); */
    background-color: hsl(263, 55%, 52%);
    background-repeat: no-repeat;
    background-position:top 0 right 20%;
}
.container .item2{
    background-color: hsl(217, 19%, 35%);
}
.container .item5{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row: 1/ span 2;

}
.container .item3 h1,
.container .item5 h1{
    color:hsl(217, 19%, 35%);
}
.container .item3 p,
.container .item5 p{
    color:hsl(217, 19%, 35%);
}
.container .item4{
    grid-column: span 2;
    background-color: hsl(219, 29%, 14%);
}
.container .item .person{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:1rem;
}
.container .item .person p{
    margin-bottom: auto;
}
.container .item .person .image{
    width:32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid hsl(0, 0%, 81%) ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .item .person .image img{
    width: 100%;
}
